// CDC.gov Template Package 4 Styles

@import "../../dist/TemplatePackage/css/bootstrap.css";
@import "../../dist/TemplatePackage/css/bootstrap-grid.css";

body,
html {
	margin: 0;
	padding: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "Open Sans", apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: white;
	scroll-behavior: smooth;
}

// don't allow jquery-ui to override our font
html .ui-widget {
	font-family: "Open Sans", apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Open Sans", apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif !important;
	font-weight: normal !important;
	margin: 0 !important;
}

a {
	color: $blue !important;
}

.col {
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
}

.theme-cyan .btn {
	border-radius: 0rem !important;
}

.theme-cyan {
	.btn {
		background-color: #00695c !important;
		border-color: #00695c !important;
		color: #fff !important;
		max-width: 530px !important;

		&:hover {
			background-color: #00554b !important;
		}
	}

	.site-title {
		display: block;
		background-color: #00695c;
		color: #fff;
		border-bottom: 3px solid #4ac2af;

		a {
			color: #fff !important;
		}
	}
}

.site-title {
	padding: 29px 38px;
	font-weight: 500;
	font-family: "Open Sans", "Segoe UI", "Helvetica Neue", arial, sans-serif;

	@media (max-width: 991px) {
		font-size: 0.8em;
	}
}

.site-title a,
.site-title a:link,
.site-title a:visited {
	font-size: 40px;

	@include mobile-max {
		font-size: 28px;
	}

	text-decoration: none;
	color: #fff;
	vertical-align: middle;
}

.site-title a:hover * {
	text-decoration: underline;
}

.d-none {
	display: none;
}

// Search

.header-wrapper {
	padding-bottom: 20px;

	@media (max-width: 991px) {
		padding-top: 5px;
		padding-bottom: 0px;
	}
}

// Footer

footer {
	.footer-citation {
		background-color: #e5e5e5;
		margin-top: 0;
		padding: 2rem 0;

		[class*="col-"] {
			padding-right: 3rem;
		}

		p {
			margin-bottom: 0;
		}

		a {
			color: #064ca2;
			text-decoration: none;
			&:visited {
				color: #064ca2 !important;
			}
		}
	}
}

footer .footer-wrapper * {
	font-size: 13px !important;
}

footer .footer-wrapper {
	font-size: 13px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 0; /* was 1rem but then it left a gap on V2 landing page */
	color: #fff !important;
	background-color: #333;
}

footer .footer-wrapper a {
	color: #fff !important;
}

footer .footer-wrapper .footer-slim ul.list-inline {
	text-align: center;
}

footer .footer-wrapper .footer-slim ul.list-inline li {
	display: inline-block;
}

footer .footer-wrapper .footer-slim span {
	display: inline-block;
}

@media only screen and (max-width: 1200px) {
	footer .footer-wrapper .footer-slim ul.list-inline {
		text-align: left;
	}

	footer .footer-wrapper .footer-slim ul.list-inline li {
		display: block;
		float: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	footer .footer-wrapper .footer-slim ul.list-inline {
		-moz-columns: 2;
		columns: 2;
		width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	footer .footer-wrapper .footer-slim {
		margin-bottom: 2.6rem;
	}
}

footer .footer-wrapper span {
	display: block;
}

footer .footer-wrapper svg {
	width: 24px;
	height: 24px;
}

footer .footer-wrapper a {
	color: #fff;
	text-decoration: none;
}

footer .footer-wrapper a:hover {
	text-decoration: underline;
}

footer .footer-wrapper .connect-iconsa:hover {
	text-decoration: none;
}

footer .footer-wrapper .connect-icons .list-inline li a span.fi {
	width: 24px;
	height: 24px;
}

footer .footer-wrapper li {
	margin-bottom: 3px;
}

footer .footer-wrapper ul {
	padding-left: 0;
	list-style-type: none;
}

footer .footer-wrapper ul.list-inline {
	display: inline-block;
	margin-bottom: 3px;
}

footer .footer-wrapper ul.list-inline li {
	float: left;
	margin-right: 10px;
}

footer .footer-wrapper ul.list-inline li img {
	width: 24px;
}

footer .footer-wrapper ul.list-inline li.rounded-circle {
	background-color: #fff;
	padding: 7px;
	margin-right: 7px;
}

footer .agency-footer {
	font-size: 13px;
	padding-top: 0.5rem;
	padding-bottom: 1rem !important;
	margin-bottom: 1rem;
	background: #f5f5f5;
}

footer .agency-footer a {
	color: #333 !important;
	text-decoration: none;
}

footer .agency-footer a:hover {
	text-decoration: underline;
}

footer .agency-footer a.footer-ext svg {
	fill: #333;
	float: left;
}

footer .agency-footer a.footer-ext svg + span {
	display: block;
	overflow: hidden;
}

footer .agency-footer a.footer-ext svg {
	fill: #333;
}

.footer-wrapper a,
.site-title a {
	color: white !important;
}

footer .footer-wrapper * {
	font-size: 13px !important;
}

#titleSection {
	font-weight: normal !important;
	display: block;
	text-align: left;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 5px;

	h1 {
		font-size: 2rem;
		padding-bottom: 5px;
	}

	h3 {
		font-size: 0.9em;
	}

	#mainContent_SubTitle {
		line-height: 1.5;
	}

	@media screen and (max-width: 1000px) {
		h2 {
			margin-top: 0 !important;
		}

		#mainContent_Title {
			font-size: 1.5em;
		}
	}
}

.cdc-logo,
.site-title .row > .col {
	padding-left: 0px !important;
}

div.dataLoadError {
	box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
	background-color: #fff6f6;
	color: #9f3a38;
	font-size: 1em;
	position: relative;
	min-height: 1em;
	margin: 1em 0;
	background: #f8f8f9;
	padding: 1em 1.5em;
	line-height: 1.4285em;
	border-radius: 0.3rem;
	padding: 20px;

	.header {
		font-size: 1.14285714em;
		display: block;
		font-weight: 700;
		margin: -0.14285714em 0 0 0;
	}
	p {
		opacity: 0.85;
		margin: 0.75em 0;
	}
	.buttons {
		font-size: 1rem;
		box-shadow: none;
		display: inline-flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		vertical-align: baseline;
		margin: 0 0.25em 0 0;

		.button {
			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
			box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
			border-radius: 0;
			border: none;
			margin: 0;
			background-color: rgb(224, 225, 226);

			&:first-child {
				border-top-left-radius: 0.28571429rem;
				border-bottom-left-radius: 0.28571429rem;
			}

			&:last-child {
				border-top-right-radius: 0.28571429rem;
				border-bottom-right-radius: 0.28571429rem;
			}

			&:hover {
				background-color: #cacbcd;
				background-image: none;
				color: rgb(0, 0, 0);
				font-weight: 500;
			}
		}

		.or {
			position: relative;
			width: 0.3em;
			height: 2.57142857em;
			z-index: 3;
			font-size: 1rem;

			&:before {
				position: absolute;
				text-align: center;
				border-radius: 500rem;
				content: "or";
				top: 50%;
				left: 50%;
				background-color: #fff;
				text-shadow: none;
				margin-top: -0.89285714em;
				margin-left: -0.89285714em;
				width: 1.78571429em;
				height: 1.78571429em;
				line-height: 1.78571429em;
				color: rgba(0, 0, 0, 0.4);
				font-style: normal;
				font-weight: 700;
				box-shadow: 0 0 0 1px transparent inset;
			}
		}
	}

	> :last-child {
		margin-bottom: 0;
	}
	> :first-child {
		margin-top: 0;
	}
}
