#custom_select {
	position: relative;
	font-size: small;
	width: 150px;
	border: 1px solid #aaa;

	&_container {
		display: inline-block;
		margin-left: 10px;

		@include mobile-max {
			display: block;
		}
	}

	select {
		display: none;
	}
}

.select {
	&-selected {
		&:after {
			/*style the arrow inside the select element:*/
			position: absolute;
			content: "";
			top: 10px;
			right: 10px;
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-color: #fff transparent transparent transparent;
		}

		.select-arrow-active:after {
			border-color: transparent transparent #fff transparent;
			top: 7px;
		}

		&-items div,
		&-selected {
			/*style the items (options), including the selected item:*/
			color: #eee;
			padding: 0.295em 0 0.39em 16px;
			border: 1px solid transparent;
			border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
			cursor: pointer;
			user-select: none;
		}

		&-items {
			position: absolute;
			background-color: #333;
			top: 100%;
			left: 0;
			right: 0;
			z-index: 99;
		}

		&-hide {
			display: none;
		}
	}
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.custom-select {
	> div {
		@include mobile-max {
			display: none;
		}
	}

	> select {
		> option {
			@include mobile-max {
				background-color: #333;
			}
		}

		@include mobile-max {
			display: block;
			width: 100%;
			background: transparent;
			color: #eee;
			text-indent: 6px;
		}
	}

	@include mobile-max {
		width: auto;
		height: 35px;
	}
}
