.generalTooltip.tooltip {
	position: fixed;
	pointer-events: none;
	color: #555;
	background: #f4f4f4;
	max-width: 350px;
	padding: 5px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #a0a0a0;
	opacity: 1;
	visibility: hidden;
}

.generalTooltip.tooltip > .tip-header {
	border-bottom: 2px solid #b5b5b5;
	padding-bottom: 5px;
}

.generalTooltip.tooltip h3,
.generalTooltip.tooltip h4 {
	font-weight: bold !important;
	font-size: 1.2em;
	margin: 0;
}

.generalTooltip.tooltip h4 {
	font-weight: normal;
	font-size: 0.85em;
	margin-left: 2px !important;
}

.generalTooltip.tip-info {
	margin: 0;
	padding: 2px 6px;
	font-size: 0.8em;
	line-height: 1.2em;
}

.general-chart {
	background-color: white;
}

div#slider-viz-div,
div.slider-viz-div {
	text-align: center;
}

path.sliderHandles {
	stroke: #c5c5c5;
	fill: #777;
}
path.sliderHandles:active {
	fill: #007fff;
}
#slider-viz-div,
.slider-viz-div {
	rect.overlay {
		stroke: #c5c5c5;
		fill: white;
		border-radius: 10px;
	}

	rect.selection {
		stroke: none;
		fill: #bbb;
		// min-width: 1px !important
	}
}
.viewFootnotesBtn {
	cursor: pointer;
	margin-top: 20px;

	#footnoteContentTitle {
		font-size: 1.2em;
		margin-bottom: 0;
		font-weight: bold;
		text-align: left;
	}
}
.viewFootnotes {
	font-size: 1em;
	margin-bottom: 7px;

	&:hover {
		cursor: pointer;
	}
}

.jsonDataPullDates {
	font-size: 1em;
	margin-bottom: 7px;
}

.genericDataContainer,
#pageFooterTable {
	display: none;
	margin-top: 10px;
}

.landing-card-pregnant {
	.sub-card {
		margin: 15px 15px 0 0;
	}
}

.genLoader {
	display: none;
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	background-color: rgba(85, 85, 85, 0.6);
	opacity: 0;
	line-height: 1;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-transition: background-color 0.5s linear;
	transition: background-color 0.5s linear;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0s;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	will-change: opacity;
	z-index: 1000;

	&.active {
		display: flex;
		opacity: 1;
	}

	> * {
		color: rgb(68, 68, 68);
	}

	div {
		margin-top: 10px;
		font-size: 0.5em;
	}
}

div.genSearch {
	display: block;
	position: relative;
}

.genDropdown {
	position: relative;
	color: #333;
	margin-bottom: 5px;
	@include mobile-breakpoint {
		width: 100% !important;
		padding: 0 6px;
		margin: 3px 0 !important;
	}

	#genDropdownSearch {
		&.genDropdownOpened {
			display: block;
		}

		position: absolute;
		z-index: 2;
		top: 57px;
		display: none;
		border: 1px solid #555;
		font-size: 16px;
		border-top: 1px solid #bdbdbd;
		border-bottom: 1px solid #bdbdbd;
		padding: 3px 10px;
		background-color: white;

		i.fa-times {
			position: absolute;
			right: 10px;
			top: 8px;
			cursor: pointer;
		}

		a {
			color: #333 !important;
		}
	}
}

div.genDropdownSelected {
	display: block;
	position: relative;
	width: 100%;
	padding: 4px 22px 4px 7px;
	margin: 0;
	font-weight: 400;
	// color: #495057;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 6px center;
	background-size: 16px 12px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;

	&.disabled {
		color: rgb(150, 150, 150) !important;
	}

	> a {
		line-height: 24px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: inherit !important;
		text-decoration: none;

		&.placeholder {
			color: rgb(150, 150, 150) !important;
		}
	}

	&:hover {
		border-color: #555;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
	}

	&.genDropdownOpened {
		border-color: #555;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-color: transparent;
	}

	div.genDropdownOptions {
		&.genDropdownOpened {
			display: block;
		}
		&.genDropDownWithGroups {
			top: 64px;
		}

		margin: 0;
		width: calc(100% + 2px);
		position: absolute;
		left: -1px;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 317px;
		display: none;
		background-color: white;
		border: 1px solid #555;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		font-size: 0.9em;
		z-index: 1;

		list-style: none;
		margin-bottom: 5px;
		padding-left: 5px;

		div.genDropdownTopicGroup {
			cursor: default;
		}

		div.genDropdownOption {
			margin-left: -10px;
			margin-right: -10px;
			padding-left: 20px;
			padding-right: 20px;
			color: #191919;

			a,
			i {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				color: inherit !important;
				text-decoration: none;
			}

			i {
				margin-right: 5px;
			}

			&.genOptionSelected {
				background-color: #1d94fb !important;
				color: white;
			}

			&:hover,
			&:focus {
				cursor: pointer;
			}

			&.disabled {
				color: rgb(150, 150, 150) !important;
				pointer-events: none;
			}
		}

		&.genDropDownWithGroups div.genDropdownOption {
			padding-left: 30px;
		}
	}
}

#estimateTypeDropdownMap,
// #estimateTypeDropdownChart,
#estimateTypeDropdown {
	width: 400px;
	@media screen and (max-width: 400px) {
		width: 100%;
	}
}

.body1 {
	font-size: 16px;
	color: #333;
}

.body2 {
	font-size: 18px;
	color: #333;
}

.heading4 {
	font-size: 28px;
	color: #333;
}

.heading6 {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.selectableIcon {
	width: 24px;
	height: 24px;
}

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 4px 0;

	&.left {
		justify-content: flex-start;
	}

	input {
		margin-right: 6px;
	}
}
