.generalTooltip.tooltip {
	position: fixed;
	pointer-events: none;
	color: #555;
	background: #ceece7;
	max-width: 350px;
	padding: 5px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #a0a0a0;
	opacity: 1;
	visibility: hidden;
}

.generalTooltip.tooltip > .tip-header {
	border-bottom: 2px solid #b5b5b5;
	padding-bottom: 5px;
}

.generalTooltip.tooltip h3,
.generalTooltip.tooltip h4 {
	font-weight: bold !important;
	font-size: 1.3em;
	margin: 0;
}

.generalTooltip.tooltip h4 {
	font-weight: normal;
	font-size: 0.85em;
	margin-left: 2px !important;
}

.generalTooltip.tip-info {
	margin: 0;
	padding: 2px 6px;
	font-size: 1.15em;
	line-height: 1.2em;
}

.general-chart {
	background-color: white;
}

div#slider-viz-div,
div.slider-viz-div {
	text-align: center;
}

path.sliderHandles {
	stroke: #c5c5c5;
	fill: #777;
}
path.sliderHandles:active {
	fill: #007fff;
}
#slider-viz-div,
.slider-viz-div {
	rect.overlay {
		stroke: #c5c5c5;
		fill: white;
		border-radius: 10px;
	}

	rect.selection {
		stroke: none;
		fill: #bbb;
		// min-width: 1px !important
	}
}
.viewFootnotesBtn {
	cursor: pointer;
	margin-top: 20px;

	#footnoteContentTitle {
		font-size: 1.2em;
		margin-bottom: 0;
		font-weight: bold;
		text-align: left;
	}
}
.viewFootnotes {
	&:hover {
		cursor: pointer;
	}
}

.jsonDataPullDates {
	font-size: 1em;
	margin-bottom: 7px;
}

.genericDataContainer,
#pageFooterTable {
	display: none;
	margin-top: 10px;
}

.landing-card-pregnant {
	.sub-card {
		margin: 15px 15px 0 0;
	}
}

.genLoader {
	display: none;
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	background-color: rgba(85, 85, 85, 0.6);
	opacity: 0;
	line-height: 1;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-transition: background-color 0.5s linear;
	transition: background-color 0.5s linear;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0s;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	will-change: opacity;
	z-index: 1000;

	&.active {
		display: flex;
		opacity: 1;
	}

	> * {
		color: rgb(68, 68, 68);
	}

	div {
		margin-top: 10px;
		font-size: 0.5em;
	}
}

div.genSearch {
	display: block;
	position: relative;
}

#subgroupDropdown {
	margin-bottom: 5px;
}

.genDropdown {
	position: relative;
	color: #333;
	margin-bottom: 5px;
	@include mobile-breakpoint {
		width: 100% !important;
		padding: 0 6px;
		margin: 3px 0 !important;
	}

	i.fa-times {
		cursor: pointer;
	}

	#genDropdownSearch {
		&.genDropdownOpened {
			display: block;
		}

		position: absolute;
		z-index: 2;
		top: 57px;
		display: none;
		border: 1px solid #555;
		font-size: 16px;
		border-top: 1px solid #bdbdbd;
		border-bottom: 1px solid #bdbdbd;
		padding: 3px 10px;
		background-color: white;

		i.fa-times {
			position: absolute;
			right: 10px;
			top: 8px;
		}

		a {
			color: #333 !important;
		}
	}
}

div.genDropdownSelected {
	display: block;
	position: relative;
	width: 100%;
	padding: 4px 22px 4px 7px;
	@media screen and (max-width: 1199px) {
		padding: 8px 22px 8px 7px;
	}
	margin: 0;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 6px center;
	background-size: 16px 12px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;

	&#estimateTypeDropdown-select {
		border-color: #bdbdbd !important;

		// @media screen and (max-width: 767px) {
		// 	width: 100%;
		// }
	}

	&.disabled {
		color: #bdbdbd !important;
	}

	> a {
		line-height: 24px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: inherit !important;
		text-decoration: none;

		&.placeholder {
			color: rgb(150, 150, 150) !important;
		}
	}

	&:hover {
		border-color: #555;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
	}

	&.genDropdownOpened {
		border-color: #555;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-color: transparent;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 11l6-6 6 6'/%3e%3c/svg%3e");
	}
	&.chevronHidden {
		background-image: none;
		padding-right: 7px;
	}

	div.genDropdownOptions {
		&.genDropdownOpened {
			display: block;
		}
		&.genDropDownWithGroups {
			top: 64px;
		}

		z-index: 3 !important;
		margin: 0;
		width: calc(100% + 2px);
		position: absolute;
		left: -1px;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 317px;
		display: none;
		background-color: white;
		border: 1px solid #555;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		font-size: 0.9em;
		z-index: 1;

		list-style: none;
		margin-bottom: 5px;
		padding-left: 5px;

		div.genDropdownTopicGroup {
			cursor: default;
		}

		div.genDropdownOption {
			margin-left: -10px;
			margin-right: -10px;
			padding-left: 20px;
			padding-right: 20px;
			color: #191919;

			a,
			i {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				color: inherit !important;
				text-decoration: none;
			}

			i {
				margin-right: 5px;
			}

			&.genOptionSelected {
				background-color: #1d94fb !important;
				color: white;
			}

			&:hover,
			&:focus {
				cursor: pointer;
			}

			&.disabled {
				color: #bdbdbd !important;
				pointer-events: none;
			}
		}

		&.genDropDownWithGroups div.genDropdownOption {
			padding-left: 30px;
		}
	}
}

.genMsdSelected {
	display: flex;
	justify-content: space-between;
	position: relative;
	color: #333;
	background-color: white;
	border: 1px solid #bbb;
	border-radius: 0.25rem;
	width: 100%;
	margin: 0;
	padding: 4px 22px 4px 7px;
	@media screen and (max-width: 1199px) {
		padding: 8px 22px 8px 7px;
	}
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 6px center;
	background-size: 16px 12px;

	&:hover {
		border-color: #555;
	}

	&.disabled {
		background-color: #bdbdbd !important;
	}

	&.genDropdownOpened {
		border-color: #555;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-color: transparent;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 11l6-6 6 6'/%3e%3c/svg%3e");
	}

	.genMsdSearch {
		&.genDropdownOpened {
			visibility: visible;
		}

		visibility: hidden;
		border: 1px solid #aaa;
		border-right-color: #555;
		border-left-color: #555;
		border-radius: 0 !important;
		padding-left: 5px;
		position: absolute;
		top: 30px;
		width: calc(100% + 2px);
		left: -1px;
		z-index: 1;
	}

	.genMsdOption {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 2px;
		padding: 0 3px;
		font-size: 16px;
		white-space: nowrap;
		background-color: #fdfdfd;
		border: 1px solid #dddcdc;
		border-radius: 4px;

		i {
			font-size: 24px;
			margin-left: 5px;
			opacity: 0.8;
			transition: opacity 0.15s ease-in;

			&:hover {
				opacity: 1;
				transition: opacity 0.15s ease-in;
			}
		}
	}

	.genMsdUnselected {
		margin: 0;
		width: calc(100% + 2px);
		position: absolute;
		left: -1px;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 317px;
		visibility: hidden;
		background-color: #fff;
		border: 1px solid #555;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		z-index: 2;

		&.genDropdownOpened {
			visibility: visible;
		}

		div#genMsdSelections {
			margin-bottom: 5px;
			padding-left: 5px;

			> div {
				margin-left: -10px;
				margin-right: -10px;
				padding-left: 20px;
				padding-right: 20px;
				color: #333;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}

		.genMsdClearAll {
			color: #0a85a0 !important;
		}

		ul#maxSelectionsInfo {
			margin-bottom: 0;
		}

		ul#maxSelectionsInfo li:not(.genMsdClearAll):not(.genMsdSelectTopN) {
			color: rgb(85, 85, 85);
			text-decoration: none;
			cursor: default;
		}
	}

	#genMsdOpenIcon {
		position: absolute;
		top: -2px;
		right: -6px;
		cursor: pointer;
		color: rgb(85, 85, 85);
		font-size: 28px;
		padding: 0 12px;
		opacity: 0.8;
		transition: opacity 0.15s ease-in;

		&:hover {
			opacity: 1;
			transition: opacity 0.15s ease-in;
		}
	}
}

#estimateDropdownContainer {
	@media screen and (max-width: 767px) {
		width: 100%;
	}
}

#estimateTypeDropdownMap,
#estimateTypeDropdown {
	width: 440px;
	@media screen and (max-width: 767px) {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

.body1 {
	font-size: 16px;
	color: #333;
}

.body2 {
	font-size: 16px;
	color: #333;
}

.heading4 {
	font-size: 28px;
	color: #333;
}

.heading5 {
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.heading6 {
	margin-top: 1rem;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-align: center;

	> div {
		border-bottom: 1px solid #ddd;
		width: 90%;
	}
}

.selectableIcon {
	width: 24px;
	height: 24px;
}

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 4px 0;

	&.left {
		justify-content: flex-start;
	}

	input {
		margin-right: 6px;
	}

	label {
		white-space: normal;
		transform: translateY(-5px);
	}

	&.singlePeriod {
		margin-top: 8px;

		@media screen and (max-width: 1199px) and (min-width: 768px) {
			justify-content: flex-start;
		}
	}
}

.timePeriodContainer {
	@media screen and (max-width: 1199px) and (min-width: 768px) {
		margin-top: 8px;
	}
}

#startYearContainer,
#endYearContainer {
	@media screen and (max-width: 1500px) and (min-width: 1200px) {
		padding: 0 3px;
	}

	#startYearContainer-select,
	#endYearContainer-select {
		@media screen and (max-width: 1500px) and (min-width: 1200px) {
			font-size: 14px;
		}
	}
}

#topicDropdown-label {
	@media screen and (max-width: 1199px) {
		padding: 10px 0;
	}
}

#resetInfo {
	font-size: 24px;
	color: #555;

	@media screen and (max-width: 1199px) {
		padding: 8px 5px;
	}
}

#home-btn-reset {
	@media screen and (max-width: 1199px) {
		margin: 8px 0;
	}
}

.data-table-container {
	@media screen and (max-width: 1199px) {
		padding: 2px 0;
	}
}

.spacerContainer {
	@media screen and (max-width: 1199px) {
		display: none;
	}
}

.spacerContainer1 {
	height: 0;
	@media screen and (max-width: 1199px) and (min-width: 768px) {
		height: 16px;
	}
	@media screen and (max-width: 767px) {
		height: 10px;
	}
}

.spacerContainer2 {
	height: 0;

	@media screen and (min-width: 1200px) {
		height: 24px;
	}

	@media screen and (max-width: 1199px) and (min-width: 768px) {
		height: 40px;
	}
}

#maxAllowedLabel {
	height: 24px;
	@media screen and (max-width: 1350px) and (min-width: 1200px) {
		font-size: 14px;
	}
}

// this is the final call to anchor and all within the site should use this
a {
	color: #075290 !important;
	&:visited {
		color: #800080 !important;
	}
	&:focus,
	&:focus-visible {
		outline: 2px solid #fe7419 !important;
	}
}

button {
	&:focus,
	&:focus-visible {
		outline: 2px solid #fe7419 !important;
	}
}
