.generalTooltip.tooltip {
	position: fixed;
	pointer-events: none;
	color: #555;
	background: #f4f4f4;
	max-width: 350px;
	padding: 5px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #a0a0a0;
	opacity: 1;
	visibility: hidden;
}

.generalTooltip.tooltip > .tip-header {
	border-bottom: 2px solid #b5b5b5;
	padding-bottom: 5px;
}

.generalTooltip.tooltip h3,
.generalTooltip.tooltip h4 {
	font-weight: bold !important;
	font-size: 1.2em;
	margin: 0;
}

.generalTooltip.tooltip h4 {
	font-weight: normal;
	font-size: 0.85em;
	margin-left: 2px !important;
}

.generalTooltip.tip-info {
	margin: 0;
	padding: 2px 6px;
	font-size: 0.8em;
	line-height: 1.2em;
}

.general-chart {
	margin: 10px 4vw 0 4vw;
	text-align: center;
	background-color: white;
}

// .general-map {
// 	margin: 70px 0;
// 	text-align: center;
// }

div#slider-viz-div,
div.slider-viz-div {
	text-align: center;
}

path.sliderHandles {
	stroke: #c5c5c5;
	fill: #777;
}
path.sliderHandles:active {
	fill: #007fff;
}
#slider-viz-div,
.slider-viz-div {
	rect.overlay {
		stroke: #c5c5c5;
		fill: white;
		border-radius: 10px;
	}

	rect.selection {
		stroke: none;
		fill: #bbb;
		// min-width: 1px !important
	}
}
.viewFootnotesBtn {
	cursor: pointer;
	margin-top: 20px;

	#footnoteContentTitle {
		font-size: 1.2em;
		margin-bottom: 0;
		font-weight: bold;
		text-align: left;
	}
}
.viewFootnotes {
	font-size: 1em;
	margin-bottom: 7px;

	&:hover {
		cursor: pointer;
	}
}

.jsonDataPullDates {
	font-size: 1em;
	margin-bottom: 7px;
}

.genericDataContainer,
#pageFooterTable {
	display: none;
	margin-top: 10px;
}

.landing-card-pregnant {
	.sub-card {
		margin: 15px 15px 0 0;
	}
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 95%; /* Could be more or less, depending on screen size */
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
