.invisible {
	visibility: collapse;
	z-index: -1 !important;
}

.fill-none {
	fill: none;
}

.inline-block {
	display: inline-block !important;
}

.muted {
	opacity: 0.5 !important;
}

.center-text {
	text-align: center;
}

.pad-left-right {
	padding: 0px 25px;
}
