@import "./mixins/media_queries.scss";

#landing-container {
	display: flex;
	flex-direction: column;
}

.landing-title {
	border-top: #65b0bd solid 2px;
	border-bottom: #65b0bd solid 1px;
	font-size: 17px;
	padding-bottom: 10px;

	h2 {
		font-size: 28px;
		padding-top: 2px;
	}

	h3 {
		font-size: inherit;
		font-weight: bolder !important;
		margin: 0 0 1em !important;
		line-height: 1.4285em;
	}

	#community-map-header {
		text-align: center;
	}

	/* if you dont set min width on the id, the map won't show up (TT) */
	#community-map {
		min-width: 240px;
	}
	#community-map-legend {
		min-width: 120px;
	}

	.community-links {
		width: 100%;
		background: none;
		border: none;
		text-align: left;
		text-decoration: none;
		padding: 0.5rem;
		font-size: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: 0.1s all;
		border-radius: 4px;

		&:hover {
			color: #007c91;
		}

		span {
			margin-right: 5px;

			&::before {
				font-weight: bolder;
			}
		}
	}
}

.landing-card {
	margin-top: 45px;

	h2 {
		font-size: 28px;
	}

	p {
		margin: 0 0 0.5rem;
	}

	&-main {
		border: solid 1px #e4e4e4;
		border-radius: 1px;
		padding: 1rem;
		background-color: #ffffff;
		text-align: left;
		width: 100%;
		height: 100%;

		h4 {
			font-size: 20px;
			color: #007c91;
			margin-bottom: 0.5rem !important;
		}

		.main-image {
			align-items: center;
			justify-content: center;
			display: flex;
			border: solid 1px #e4e4e4;
			border-radius: 1px;
			padding: 0.5rem;
		}
		.small-image {
			align-items: center;
			justify-content: center;
			display: flex;
			border: solid 1px #e4e4e4;
			border-radius: 1px;
			padding: 0.25rem 0;
		}

		&:hover {
			box-shadow: 0 1px 5px 3px #d3d3d3;
		}
	}
}

.cards-container {
	display: flex;
	flex-direction: column;
}

.sub-card {
	margin: 0.5rem 0;
}

#update-list a {
	color: #075290 !important;
	&:visited {
		color: rgb(85, 26, 139) !important;
	}
}

#icon-style {
	color: #006581;
}

div.community-map-tooltip {
	position: absolute;
	opacity: 0;
	background-color: white;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	z-index: 10;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

div.community-map-legend-tooltip {
	position: absolute;
	opacity: 0;
	background-color: white;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	z-index: 10;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

/* LANDING PAGE V2 */
/* use this sub container to move content around within the section box */
/* ... if you use this in every section then it is consistent on the page */
.lpage-sub-container {
	/* no dont put margins in here */
	//margin-top: 20px;
	//margin-left: 10em;
	//margin-right: 10em;
	//margin-bottom: 0px;
	//margin: 0px;
	padding: 10px 35px 10px 35px;
	text-align: left;
	overflow-wrap: break-word;
	width: 100%;
	// dont add any flex in here
	//display: flex;
	//flex-direction: column;

	@include mobile-breakpoint {
		#metric_callout_box {
			width: 94%;
		}
	}
}

.sub-card-topic {
	margin: 0rem 0;
	padding-right: 40px;
	/* doesn't work bottom-style: none none dashed none; */
	p {
		min-height: 4.5em;
	}
	@media screen and (max-width: $large-screen-min-width-2) {
		margin: 0 0.5em;
		padding: 5px 20px 10px 25px;
		border: 0;

		p {
			min-height: 2em;
		}
	}
}

.sub-card-topic-button {
	margin: 0.3rem;
	padding: 10px 20px 10px 20px;
	align-items: center !important;
	/* doesn't work bottom-style: none none dashed none; */
	//border: red solid 1px;

	& .title {
		font-size: 20px !important;
		color: #007c91 !important;
		margin-bottom: 0.5rem !important;

		a {
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline !important;
		}
		a:visited {
			color: #007c91 !important;
		}
	}
	& i {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 3rem;
	}
}

.sub-card-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2em;

	@media only screen and (max-width: 840px) {
		width: 98%;
		flex-direction: column !important;
		/// overflow: hidden;
		margin: 0.5em;
		padding: 0;
	}
}

.sub-card-topic-button2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 33%;
	align-items: center;
	margin: 2em;
	padding-left: 1rem;
	//border: red solid 1px;

	& .theIcon {
		font-size: 3rem;
		color: #006780;
		//border: solid greenyellow 1px;
		margin: auto;
		text-align: left;
		padding: 0;
	}

	& .theText {
		//border: solid red 1px;
		text-align: left;
		width: 90%;
		margin: 1em;
	}

	.title {
		font-size: 1.3em !important;
		color: #007c91 !important;
		margin-bottom: 0.5rem !important;

		a {
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline !important;
		}
		a:visited {
			color: #007c91 !important;
		}
	}
	& i {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 3rem;
	}

	@media only screen and (max-width: 840px) {
		width: 98%;
		align-items: flex-start;
		margin: 0;
		padding: 0;

		.theIcon {
			font-size: 2rem; // make it smaller
			float: left;
			position: absolute;
			vertical-align: middle;
			margin-right: 4px;
			margin-top: 1em;
			margin-left: 0.4em;
		}
		.theText {
			margin-right: 0;
			margin-left: 4.5em;
			width: 75%;
			float: right;
			align-items: left !important;
		}
		.title {
			font-size: 1em !important;
		}
	}
}

.dotted {
	border: 1px dashed black;
	border-style: none none dotted;
	color: #fff;
	background-color: #fff;
	margin-top: 0; /* this has no effect for some reason */
	margin: 0; /* this has no effect for some reason */
}
.dotted-mob {
	display: none;
	border: 1px dashed black;
	border-style: none none dotted;
	color: #fff;
	background-color: #fff;
	margin-top: 0; /* this has no effect for some reason */
	margin: 0; /* this has no effect for some reason */
	@media screen and (max-width: $large-screen-min-width-2) {
		display: block;
	}
}

#additional-data-card-container {
}

.site-subtitle-bar {
	display: block;
	background-color: #ebf5f6;
	border-bottom: 1px solid #007185;
	padding-top: 5px;
	padding-bottom: 5px;

	a {
		color: #007185 !important;
	}
}

.site-subtitle-link-btn {
	background-color: #ebf5f6 !important;
	border-color: #ebf5f6 !important;
	color: #007185 !important;
	max-width: 530px !important;
	border: none !important;
}
.site-subtitle-link-btn:hover {
	background-color: #cce5e9 !important;
}
.searchTextBoxInput {
	width: 340px !important;

	@media screen and (max-width: $large-screen-min-width-2) {
		width: 100% !important;
	}
}

.searchResults {
	width: 340px !important;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 317px;
	display: none;
	background-color: #f5f5f5;

	@media screen and (max-width: $large-screen-min-width-2) {
		width: 100% !important;
		margin: 0 0.75rem !important;
	}

	ul {
		list-style: none;
		margin-bottom: 5px;
		padding-left: 5px;

		li:nth-child(odd) {
			background-color: #fff;
		}

		li {
			font-size: 1rem;
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;

			& > a {
				color: #191919 !important;
				text-decoration: none;

				&:hover {
					text-decoration: underline !important;
				}
			}
		}
	}
}

.selectedSearchResult {
	background-color: #bdbdbd !important;
}

.lpage-sublanding-btn {
	background-color: #ebf5f6 !important;
	border-color: #006778 !important;
	font-size: 19px;
	font-weight: 400;
	line-height: 24px;
	color: #006778;
	text-align: left;
	max-width: 530px !important;
	border: solid 1px !important;
	align-self: center;
	padding: 15px 15px 15px 15px;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	border-radius: 4px;

	@media screen and (max-width: $large-screen-min-width-2) {
		width: 96%;
	}
}

.lpage-sublanding-btn:hover {
	background-color: #cce5e9 !important;
}

.lpage-status-bar {
	/* white/clear background */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;

	@media screen and (max-width: 580px) {
		.flexbox {
			flex-wrap: wrap;
		}
		.flexbox > div {
			flex: 1 0 100%;
			justify-content: center;
		}
	}
	@include mobile-breakpoint {
		flex-direction: column;
		padding-top: 0;

		.hideHr {
			display: none !important;
		}
	}
}
.lpage-status-bar-col {
	padding: 10px 0px 0px 10px;
	margin: 5px 0px 30px 5px;
	flex-basis: 24%;
	text-align: left;
	height: auto;
	//border: solid 1px green;

	p {
		text-align: left;
		margin-bottom: 0;
	}
	& .title {
		font-weight: 600;
		font-style: normal;
		font-size: 20px;
		color: #006778;
	}

	#community-map {
		min-width: 200px;
		max-width: 240px;
	}

	& .smText {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
		font-weight: 600;
	}

	& .lgText {
		color: #555555;
		font-size: 20px;
		line-height: 30px;
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
	}

	& .smTitle {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		// margin-top: 2.7em;
		font-weight: 600;
		//display: inline-block; // dont do this - messes up alignment
		align-self: flex-end;
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
	}

	/* last graph title needs different margin because of People Age 5+ text */
	& .smTitle2 {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		margin-top: 1.4em;
	}

	/* group top text items together so I can align the last one to bottom of the div */
	& .topText {
		// border: solid 1px red !important;
		height: 6em;
	}

	& .greyBox {
		background: #f5f5f5;
		width: 100%;
		margin: 20px 0 0 0;
		padding: 0;
	}

	@media screen and (max-width: $large-screen-min-width-2) {
		flex-basis: 100%;
		width: 100%;
		margin: 0px 0px 5px 5px;
		border-bottom: solid #e4e4e4 1px;
		padding-bottom: 2em;
		height: inherit;

		.title {
			margin-bottom: 5px;
		}
	}
}

.lpage-status-bar-col-grey {
	//border: solid red 1px !important;
	//padding: 12px 0px 12px 20px !important;
	//margin: 0px !important; /* dont put auto here or space appears */
	padding: 10px 0px 20px 35px;
	margin: 0 5px 0px 0px; /* need this to be consistent with cols above */
	height: auto;
	flex-basis: 24%;
	text-align: left;
	background: #f5f5f5;

	p {
		text-align: left;
		margin-bottom: 0;
	}
	& .title {
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 20px;
		color: #006778;
	}

	#community-map {
		min-width: 200px;
		max-width: 240px; /* without this map won't draw right */
	}

	& .smText {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
		font-weight: 600;
	}

	& .lgText {
		color: #555555;
		font-size: 20px;
		line-height: 30px;
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
	}

	& .smTitle {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		// margin-top: 2.7em;
		font-weight: 500;
		display: inline-block;
		align-self: flex-end;
	}

	/* last graph title needs different margin because of People Age 5+ text */
	& .smTitle2 {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		margin-top: 1.4em;
	}

	/* group top text items together so I can align the last one to bottom of the div */
	& .topText {
		// border: solid 1px red !important;
		height: 6em;
	}

	& .greyBox {
		background: #f5f5f5;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.lpage-status-bar-col-grey-mob {
	//border: solid red 1px !important;
	//padding: 12px 0px 12px 20px !important;
	//margin: 0px !important; /* dont put auto here or space appears */
	padding: 0;
	margin: 0; /* need this to be consistent with cols above */
	height: auto;
	text-align: left;
	background: #f5f5f5;

	p {
		text-align: left;
		margin-bottom: 0;
	}
	& .title {
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 20px;
		color: #006778;
	}

	& .smText {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
		font-weight: 600;
	}

	& .lgText {
		color: #555555;
		font-size: 20px;
		line-height: 30px;
		font-family: "Open Sans SemiBold", "Open Sans Regular", "Open Sans", sans-serif;
	}

	& .smTitle {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		// margin-top: 2.7em;
		font-weight: 500;
		display: inline-block;
		align-self: flex-end;
	}

	/* last graph title needs different margin because of People Age 5+ text */
	& .smTitle2 {
		color: #555555;
		font-size: 12px;
		line-height: normal;
		margin-top: 1.4em;
	}

	& .greyBox {
		background: #f5f5f5;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
	flex-basis: 100%;
	height: 0;
}

%lpage-container {
	display: flex;
	flex-flow: row wrap;
	/* justify-content: flex-start; REMOVE THIS */
	width: 100%;
	background-color: #ebf5f6;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0 !important;

	& div {
		margin-left: 0px;
		margin-right: 0px;

		& .reduced {
			margin-left: 5px;
			margin-right: 5px;
		}

		& form {
			text-align: left;
		}
	}

	&.spaceBefore {
		margin-top: 15px;
	}

	@media screen and (max-width: 813px) {
		.flexbox {
			flex-wrap: wrap;
		}
		.flexbox > div {
			flex: 1 100%;
			justify-content: center;
		}
	}

	@include mobile-breakpoint {
		flex-direction: column;
		padding-top: 0;

		.hideHr {
			display: none !important;
		}
	}
}

.lpage-title-large {
	position: auto;
	display: flex;
	padding: 0px 0px 0px 0px;
	margin-bottom: 5px;
	font-size: 1.5em;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	color: #333333;
	text-align: left;
	line-height: 36px;
	word-wrap: break-word;
	text-transform: none;
}

.lpage-title-text {
	/* 	position: absolute;
	align-self: flex-start; */
	padding: 0px 0px 0px 0px;
	box-sizing: border-box;
	width: 100%;
	border-width: 0px;
	word-wrap: break-word;
	text-transform: none;
}

.lpage-title-decor-bar-container {
	margin-top: 10px !important;
	margin-bottom: 0 !important;
	padding: 0px;
	height: 5px;
	box-sizing: border-box;
	display: block;
	width: 52px;
	background-color: #006778 !important;
}
.lpage-title-decor-bar-m {
	width: 52px;
	background-color: #006778 !important;
	color: #fff !important;
}

.lpage-topic-title {
	font-size: 1.3em; //20px;
	color: #007c91 !important;
	margin-bottom: 0.5rem !important;

	& a {
		text-decoration: none;
	}
	& a:hover {
		text-decoration: underline !important;
	}
	& a:visited {
		color: #007c91 !important;
	}
}

.lpage-topic-title-sm {
	font-size: 1em; //20px;
	color: #007c91 !important;
	margin-bottom: 0.5rem !important;

	& a {
		text-decoration: none;
	}
	& a:hover {
		text-decoration: underline !important;
	}
	& a:visited {
		color: #007c91 !important;
	}
}

.lpage-left-white {
	@extend %lpage-container;
	background: #ffffff;
	text-align: left;
	justify-content: flex-start;
}
.lpage-left-white-community {
	@extend %lpage-container;
	background: #ffffff !important;
	text-align: left;
	justify-content: flex-start;
	border-radius: 5px;
	padding: 20px 20px 20px 20px;
}

.lpage-center-ltgreen {
	@extend %lpage-container;
	background: #ebf5f6;
	text-align: center;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.lpage-center-grey {
	@extend %lpage-container;
	background: #f2f2f2;
	text-align: center;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* on new landing page v2 map shows up with borders and background
even though the CSS appears same - this class overrides it so that
the map shows up borderless */
.lpage-map {
	border: 0px !important;
	background: #ffffff;
}

.landing-link {
	// purpose is to add a listener for click events on regular links
	// so that page events triggers the window.scroll
	//.. this is a holding place to document this and
	// also in case we need any CSS (TT)
}

.daily-update-card {
	font-family: "Open Sans";
	justify-content: center;
	align-items: flex-start; //center
	margin-top: 0rem;
	margin-bottom: 0rem;
	//margin-left: 15px;
	padding-left: 20px;
	border: none;
	background-color: #ffffff;
	//border: solid 1px blue;

	@media screen and (max-width: $large-screen-min-width-2) {
		flex-direction: column;
		justify-content: flex-start;
	}
}

.dataUpdateText {
	width: 100%;
	text-align: right;
	font-size: 12px;
	line-height: normal;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	display: inline-block;
	align-self: flex-end;
}

/* landing page mobile adjustments */
#search-bar-section {
	display: block; // show on desktop

	@media screen and (max-width: $large-screen-min-width-2) {
		display: none; // hide on mobile
	}
}
#search-bar-box-mob {
	display: none; // show on desktop

	@media screen and (max-width: $large-screen-min-width-2) {
		display: block; // hide on mobile
	}
}

/* show this one only on mobile */
#weekly-review-section {
	display: none;
	background-color: #025466;
	padding-top: 1.2em;
	padding-left: 1.2em;
	padding-bottom: 2em;

	@media screen and (max-width: $large-screen-min-width-2) {
		display: block;

		#search-bar-section {
			display: none;
		}
	}
}

/* shown only on desktop */
#weekly-review-section-grey {
	justify-content: center;
	background-color: #f5f5f5;
	padding-top: 1.2em;
	padding-left: 1.2em;
	padding-bottom: 2em;
	//display: block; // if you enable this section left aligns - dont know why

	@media screen and (max-width: $large-screen-min-width-2) {
		display: none;
	}
}

.subscription-info {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
.email-one-line {
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* Landing Page V2 Daily Updates Container */
.daily-status-container {
	display: grid;
	//border: solid 1px red;
	//grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-columns: 1fr;
	grid-auto-flow: row; // dense;
	//grid-auto-flow: column;
	// grid-template-columns: repeat(5, [col-start] 1fr) 20%;
	// gap: 20px;
	// grid-template-rows: 1fr;
}
@media screen and (max-width: $large-screen-min-width-2) {
	.daily-status-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		//grid-template-areas:
		//	"colmap colmap"
		//	"collegend collegend"
		//	"colcase coltcase"
		//	"coldeaths coltdeaths"
		//	"colhosp colthosp"
		//	"colvacc coltvacc"; // this does not seem to work

		white-space: nowrap;
	}

	.col-map,
	.col-legend,
	.col-cases,
	.col-deaths,
	.col-hosp,
	.col-vacc,
	.col-tcases,
	.col-tdeaths,
	.col-thosp,
	.col-tvacc {
		grid-column: auto;
		grid-row: auto;
	}

	.lpage-sub-container {
		padding: 1em 1em 0px 1em;
		border: none;
	}
}

.col-map {
	grid-area: colmap;
	grid-column: 1;
	grid-row: 1;
	border-right: solid 1px #e4e4e4;

	& .title {
		margin-bottom: 20px;
	}
}
.col-legend {
	grid-area: collegend;
	grid-column: 1;
	grid-row: 2;
}
.col-cases {
	grid-area: colcase;
	grid-column: 1;
	grid-row: 1;
	border-right: solid 1px #e4e4e4;
}
.col-deaths {
	// grid-area: coldeaths;
	grid-column: 2;
	grid-row: 1;
	border-right: solid 1px #e4e4e4;
}
.col-hosp {
	grid-area: colhosp;
	grid-column: 3;
	grid-row: 1;
	border-right: solid 1px #e4e4e4;
}
.col-vacc {
	grid-area: colvacc;
	grid-column: 4;
	grid-row: 1;
}
.col-tcases {
	grid-area: coltcase;
	grid-column: 1;
	grid-row: 2;
	background: #f2f2f2;
}
.col-tdeaths {
	grid-area: coltdeaths;
	grid-column: 2;
	grid-row: 2;
	background: #f2f2f2;
}
.col-thosp {
	grid-area: colthosp;
	grid-column: 3;
	grid-row: 2;
	background: #f2f2f2;
}
.col-tvacc {
	grid-area: coltvacc;
	grid-column: 4;
	grid-row: 2;
	background: #f2f2f2;
	//padding: 10px;
}

// shows these when not mobile
.community-map,
.col-legend {
	display: block;

	& .title {
		margin-bottom: 0px;
		border-bottom: 0;
		padding-bottom: 0;
	}
}
.community-map-mob {
	width: 1fr;
	// remove border below map, put below legend
	border: 0;
}
// hide these totals when not on mobile
.col-legend-mob,
.col-tcases-mob,
.col-tcases-deaths {
	display: none;
}

@media screen and (max-width: $large-screen-min-width-2) {
	.daily-status-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.lpage-status-bar-col {
	}
	.community-map,
	.col-legend {
		display: none;
	}
	.community-map-mob,
	.col-legend-mob {
		display: block;
		width: 100%;
		float: right;
	}
	.col-tcases-mob,
	.col-tcases-deaths {
		display: block;
		width: 50%;
		flex-basis: 50% !important;
		float: right;
		padding-left: 0;
	}
	// hide gray totals area on mobile
	// - bc have to add these individually onto each trend area
	.sb-totals-row {
		display: none;
	}
	.cases-container-mob {
		display: flex;
		flex-basis: 100%;
		width: 100%;
		flex: 1;
	}
	.topText {
		width: 50%;
		flex-basis: 50%;
	}

	.col-map,
	.col-legend,
	.col-deaths,
	.col-hosp,
	.col-vacc {
		grid-column: auto;
		grid-row: auto;
		border-right: none;
		width: 100%;
		flex-basis: 100%;
		flex: 1;
	}
	.col-cases {
		grid-area: colcase;
		grid-column: 1;
		grid-row: 1;
		border-right: none;
	}
	.col-tcases-mob {
		grid-area: colcase;
		grid-column: 2;
		grid-row: 2;
	}
}

