a {
	color: #075290 !important;

	&:visited {
		color: rgb(85, 26, 139) !important;
	}

	&:hover {
		color: #075290 !important;
		text-decoration: none !important;
	}
}

.homeIcon {
	text-align: right;
	align-self: center;
	color: #0033a1;
	transform: translateY(1vw);

	i {
		font-size: 2vw;

		@media screen and (max-width: $large-screen-min-width-4) and (min-width: $tablet-min-width) {
			font-size: 3vw;
		}

		@media screen and (max-width: $tablet-min-width) and (min-width: $mobile-max-width-2) {
			font-size: 4vw;
		}

		@media screen and (max-width: $mobile-max-width-2) {
			font-size: 5vw;
		}
	}
}

#us-map-legend > div > input {
	cursor: pointer;
}

#additionalFiltersContainer {
	border-right: 2px solid lightgray;
	@media screen and (max-width: $mobile-max-width-2) {
		border-right: none;
	}
}

.homeSmallIcon {
	text-align: left;
	align-self: center;
	color: #0033a1;
	margin: 0 !important;
	width: auto;
	i {
		font-size: 1.2em;
	}
}

.homeTinyIcon {
	color: #0033a1;
	font-family: Open Sans, sans-serif;
	font-weight: 400;
}

.homeSmallGroup {
	border: 1px solid lightgray;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0;
	font-size: 1vw;
	@media screen and (max-width: $large-screen-min-width-4) and (min-width: $tablet-min-width) {
		font-size: 1.4vw;
	}

	@media screen and (max-width: $tablet-min-width) and (min-width: $mobile-max-width-2) {
		font-size: 1.9vw;
	}

	@media screen and (max-width: $mobile-max-width-2) {
		font-size: 3vw;
	}
}

.homeSelectorGroup {
	border: 1px solid lightgray;
	padding-top: 0.8vw;
}

.homeSmallText {
	font-weight: 600;
	text-align: left;
}

.homeTinyText {
	font-size: 0.8em;
	color: #0033a1;
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	text-align: left;
}

.homeSelectorText {
	.preSelText {
		font-size: 1vw;

		@media screen and (max-width: $large-screen-min-width-4) and (min-width: $tablet-min-width) {
			font-size: 1.5vw;
		}

		@media screen and (max-width: $tablet-min-width) and (min-width: $mobile-max-width-2) {
			font-size: 2vw;
		}

		@media screen and (max-width: $mobile-max-width-2) {
			font-size: 2.5vw;
		}
	}

	.mainSelText {
		font-size: 1.5vw;
		line-height: 1vw;

		@media screen and (max-width: $large-screen-min-width-4) and (min-width: $tablet-min-width) {
			font-size: 2.25vw;
			line-height: 1.5vw;
		}

		@media screen and (max-width: $tablet-min-width) and (min-width: $mobile-max-width-2) {
			font-size: 3vw;
			line-height: 2vw;
		}

		@media screen and (max-width: $mobile-max-width-2) {
			font-size: 3.75vw;
			line-height: 2.5vw;
		}
	}
}

.btn-reset {
	border: 1px solid #185eaa;
	color: #185eaa;
	border-radius: 25px;
	line-height: 80%;
	background: white;
	font-family: Open Sans, sans-serif;
	font-weight: 600;
	font-size: 0.8em;
	padding-left: 0.6em;
	padding-right: 0.6em;
}

// input:focus + label {
// 	border: 3px solid rgb(37, 37, 37) !important;
// }

.adjustUnitContainer {
	margin: 15px 20px 10px 4vw;
	width: auto;
	display: inline;
	float: left;
	font-size: 0.8em;
}

#unit-num-select-chart {
	@media screen and (max-width: $mobile-max-width-2) {
		width: 100%;
	}
}

.breaksContainer {
	margin: 20px auto auto 10px;
	display: inline;
}

.skipOptions {
	text-align: left;
	a {
		position: absolute;
		left: -10000px;
		width: 1px;
		height: 1px;
		overflow: hidden;
		&:focus,
		&:active {
			position: static;
			left: 0;
			padding: 5px;
			width: auto;
			height: auto;
			overflow: visible;
			text-decoration: underline;
			outline: 3px solid #ff751a !important;
		}
	}
}

#outerContainer {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 95%;
	border-left: 0;

	@include mobile-max {
		padding: unset;
	}

	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}
}

.outRightMainContainer {
	width: 100%;
	margin-left: 0px;
	padding: 0 25px;
	margin-top: 5px;

	@media screen and (max-width: $tablet-max-width) {
		margin-top: 20px;
		padding: 0 10px;
	}
	@include mobile-max {
		padding: 0 3px;
	}
}

.fa-minus,
.fa-plus {
	color: #bdbdbd;
}

#pageFooter {
	padding: 5px;
	margin-bottom: 50px;
}

.dwnl-img-container {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	@include small-screen-only-breakpoint {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 6.5rem;
	}

	&.margin-spacer {
		margin: 1rem 0;

		button,
		a {
			margin: 3px 0;
		}
	}
}

button.disabled {
	pointer-events: none;
	cursor: default;
}

#tabs {
	border: none !important;
}

.ui-tabs .ui-tabs-nav {
	text-align: center;
	background-color: white !important;
	border: none !important;
	padding-bottom: 0 !important;
}

.ui-tabs .ui-tabs-nav li {
	float: none !important;
	display: inline-block;
	border: none;
	padding-top: 4px;
	padding-bottom: 0 !important;
	margin: 0 !important;
	width: 30%;
	height: 100% !important;
	max-width: 300px;

	a {
		background-color: white;
		width: 100% !important;
		border: 1px solid #f6f6f6;
		border-top: 0;
		color: #08548e !important;
	}

	&.ui-state-active {
		padding-top: 0;

		a {
			background-color: #b3d2ce !important;
			border-top: 5px solid #8ab9bb;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
	}

	&:hover {
		a {
			color: #064572 !important;
			font-weight: bolder;
		}
	}
}

.ui-tabs-panel {
	padding: 0 !important;
	margin-top: -5px !important;
}

.sortIconNoWrap {
	white-space: nowrap;
}

.da-maplegend-box,
.mapAnimateAxisPoint {
	font-size: 1em;
	@media screen and (max-width: $tablet-min-width) and (min-width: $mobile-max-width-2) {
		font-size: 0.85em;
	}

	@media screen and (max-width: $mobile-max-width-2) {
		font-size: 0.7em;
	}
}

.ui.dimmer {
	background-color: rgba(85, 85, 85, 0.4) !important;
}

#loading {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	display: none;
}

#device-indicator {
	position: absolute;
	top: -999em;
	left: -999em;

	&:after {
		@include mobile-min {
			content: "mobile";
		}

		@include tablet-min {
			content: "tablet";
		}

		@include desktop-min {
			content: "desktop";
		}
	}
}
