a {
	color: #075290 !important;

	&:visited {
		color: rgb(85, 26, 139) !important;
	}

	&:hover {
		color: #075290 !important;
		text-decoration: none !important;
	}
}

.homeIcon {
	text-align: right;
	align-self: center;
	transform: translateY(2px);
	color: #555;

	i {
		font-size: 26px;
	}
}
.usMapLegendContainer {
	margin-top: 25px;
	margin-right: 20px;
	width: 12%;
	color: #333;
	text-align: center;

	#us-map-legend-title {
		font-size: 20px;
		font-weight: bold;
	}

	#mapLegendPeriod {
		white-space: nowrap;
		font-weight: bold;
	}

	#us-map-legend {
		> div {
			align-items: center;
			margin: 10px 0;
		}

		.squareCheckbox {
			cursor: pointer;
			width: 20px;
			height: 20px;
			border: 1px solid #e0e0e0;
			border-radius: 4px;
			padding: 3px;
			background-clip: content-box;
		}
	}
}
.homeSmallGroup {
	border: 1px solid lightgray;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0;
}

.homeSelectorGroup {
	border: 1px solid lightgray;
	padding-top: 12px;
	border-bottom: 0;
}

.homeSelectorGroup + .homeSelectorGroup {
	border-left: 0;
}

.leftBorderMediumView {
	@media screen and (max-width: 1199px) and (min-width: 768px) {
		border-left: 1px solid lightgray !important;
	}
}

.leftBorderSmallView {
	@media screen and (max-width: 767px) {
		border-left: 1px solid lightgray !important;
	}
}

#chart-table-selectors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 28px 0 6px 0;
}

.homeSelectorText {
	.preSelText {
		font-size: 18px;
		color: #333;
	}

	.mainSelText {
		font-size: 28px;
		line-height: 16px;
		color: #333;

		@media screen and (max-width: 1500px) and (min-width: 1200px) {
			font-size: 24px;
			line-height: 13px;
		}
	}
}

#show-one-period-checkbox {
	height: 24px;
	width: 24px;
}

.btn-reset {
	border: 1px solid #333;
	color: #333;
	border-radius: 25px;
	line-height: 80%;
	background: white;
	font-weight: 600;
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.adjustUnitContainer {
	margin: 0 20px 10px 0;
	padding-top: 15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

.content-wrapper {
	padding: 0 4vw;
	background-color: #ceece7;
}

#usMapContent {
	display: flex;
	flex-direction: row;
	background-color: white;
	padding-top: 25px;
}

#chartContainer {
	background-color: white;
	color: #333;
	text-align: center;
	background-color: white;

	#chartLegend {
		margin-top: 25px;
		margin-bottom: 10px;

		@media screen and (max-width: 1199px) {
			margin-top: 0;
		}

		#chartLegendContent {
			@media screen and (max-width: 1199px) {
				display: flex;
				flex-wrap: wrap;
			}

			.legendItems {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 5px;

				@media screen and (max-width: 1199px) {
					width: 33%;
				}

				@media screen and (max-width: 767px) {
					width: 100%;
				}

				.legendItem {
					width: 15%;
				}

				.legendText {
					width: 85%;
					text-align: left;
				}
			}
		}
	}

	#chartLegendTitle {
		font-size: 20px;
		font-weight: bold;
		padding: 0 5px;
	}

	.legendItems > div {
		margin-right: 5px;
	}
}

#nchs-table-container {
	clear: both;
}

.chart-container {
	width: 100%;
}

#unit-num-select-chart {
	@media screen and (max-width: $mobile-max-width-2) {
		width: 100%;
	}
}

.breaksContainer {
	margin: 20px auto auto 10px;
	display: inline;
}

.skipOptions {
	text-align: left;
	a {
		position: absolute;
		left: -10000px;
		width: 1px;
		height: 1px;
		overflow: hidden;
		&:focus,
		&:active {
			position: static;
			left: 0;
			padding: 5px;
			width: auto;
			height: auto;
			overflow: visible;
			text-decoration: underline;
			outline: 3px solid #ff751a !important;
		}
	}
}

#outerContainer {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 95%;
	border-left: 0;

	@include mobile-max {
		padding: unset;
	}

	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}
}

.outRightMainContainer {
	width: 100%;
	margin-left: 0px;
	padding: 0 25px;
	margin-top: 5px;

	@media screen and (max-width: $tablet-max-width) {
		margin-top: 20px;
		padding: 0 10px;
	}
	@include mobile-max {
		padding: 0 3px;
	}
}

.fa-minus,
.fa-plus {
	color: #bdbdbd;
}

#pageFooter {
	padding: 5px;
	margin-bottom: 50px;
}

.dwnl-img-container {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	@include small-screen-only-breakpoint {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 6.5rem;
	}

	&.margin-spacer {
		margin: 1rem 0;

		button,
		a {
			margin: 3px 0;
		}
	}
}

button.disabled {
	pointer-events: none;
	cursor: default;
	background-color: #bdbdbd;
}

#tabs {
	border: none !important;
}

.ui-tabs .ui-tabs-nav {
	text-align: center;
	background-color: white !important;
	border: none !important;
	padding-bottom: 0 !important;
}

.ui-tabs .ui-tabs-nav li {
	float: none !important;
	display: inline-block;
	border: none;
	border-radius: 6px;
	padding: 0 !important;
	margin: 0 !important;
	width: 30%;
	height: 100% !important;
	max-width: 300px;

	a {
		background-color: white;
		width: 100% !important;
		border: 2px solid #cfcfcf !important;
		border-radius: 5px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom-color: white !important;
		color: #555 !important;
	}

	&.ui-state-active {
		a {
			background-color: #ceece7 !important;
			border-bottom-color: #ceece7 !important;
		}
	}

	&:hover {
		a {
			color: #000 !important;
			font-weight: bolder;
		}
	}
}

.ui-tabs-panel {
	padding: 0 !important;
	margin-top: -5px !important;
}

.da-maplegend-box,
.mapAnimateAxisPoint {
	font-size: 1em;
	@media screen and (max-width: $tablet-min-width) and (min-width: $mobile-max-width-2) {
		font-size: 0.85em;
	}

	@media screen and (max-width: $mobile-max-width-2) {
		font-size: 0.7em;
	}
}

#loading {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	display: none;
}

#device-indicator {
	position: absolute;
	top: -999em;
	left: -999em;

	&:after {
		@include mobile-min {
			content: "mobile";
		}

		@include tablet-min {
			content: "tablet";
		}

		@include desktop-min {
			content: "desktop";
		}
	}
}

#refineTopicList {
	color: #00f !important;
	&:hover {
		text-decoration: underline !important;
	}
}
