$activeShadow: 0 0 10px rgba($teal1, 0.5);

fieldset {
	margin: 0;
	padding: 0.3rem;
	box-sizing: border-box;
	display: block;
	border: none;
	border: solid 1px #ccc;
	min-width: 0;
	background-color: #b3d2ce;
}

/* TOGGLE STYLING */
.btnToggle {
	margin: 0 0 0rem;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;

	input {
		width: 0;
		height: 0;
	}

	input + label {
		margin: 0;
		padding: 0.75rem 2rem;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		border: solid 1px #ddd;
		background-color: #fff;
		font-size: 1rem;
		line-height: 100%;
		font-weight: 600;
		text-align: center;
		box-shadow: 0 0 0 rgba(255, 255, 255, 0);
		transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out,
			box-shadow 0.15s ease-out;

		&:first-of-type {
			border-radius: 6px 0 0 6px;
			border-right: none;
		}

		&:last-of-type {
			border-radius: 0 6px 6px 0;
			border-left: none;
		}
	}

	input:hover + label {
		border-color: $darkNavy;
		cursor: pointer;
	}

	input:checked + label {
		background-color: $teal2;
		color: #fff;
		box-shadow: $activeShadow;
		border-color: $teal2;
		z-index: 1;
	}
}

#us-map-time-slider {
	display: flex !important;
	justify-content: center !important;
	svg {
		flex-basis: 80%;
		overflow-clip-margin: content-box;
	}
}
