//modals

.margin-top-adj {
	margin-top: 1rem;
}

.padding-descrp {
	padding: 1.3rem;
	padding-bottom: 0;
	font-size: 0.8em;

	label {
		margin-bottom: 10px;
	}
}

#filtersModal {
	top: auto !important;
	height: auto !important;
	left: auto !important;
}

#filterModalFooter {
	text-align: right;
	margin: 20px;
}

//action close btn will show if not hidden
@media screen and (max-width: 768px) {
	.hide-on-mobile {
		display: none;
	}
}
