//modals

#filterModalFooter {
	text-align: right;
	margin: 20px;
}

//action close btn will show if not hidden
@media screen and (max-width: 768px) {
	.hide-on-mobile {
		display: none;
	}
}

// bootstrap modal overrides
.modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;

	@media (min-width: 576px) {
		max-width: 500px;
		margin: 1.75rem auto;
	}
	@media (min-width: 992px) {
		max-width: 800px;
	}

	@media (min-width: 1200px) {
		max-width: 1140px;
	}
}

.modal-header {
	background-color: #ceece7;
	font-size: 24px;

	> h4 {
		display: inline;
	}

	.close {
		position: absolute;
		right: 1rem;
		top: 1rem;
		font-size: 24px;
		transition: all 0.2s ease-in-out;
	}

	.close:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}
