.status-bar-toggle {
	padding: 0.8rem 0;
	font-weight: 600;
	font-size: 16px;
	display: none;
}

.status-toggle {
	font-weight: normal;
	&-text {
		color: #686868;
		margin-right: 1rem;
	}
	&-icon {
		font-size: 1rem;
		color: #bdbdbd;
	}
}

.status-row {
	border-bottom: 1px solid #f0f0f0;
}

.status-item {
	font-family: "Open Sans";
	justify-content: center;
	align-items: flex-start; //center
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	padding: 0 10px;
	border: none;
	background-color: $white;

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		justify-content: flex-start;
	}
}

.status-item-first {
	@media screen and (min-width: 1025px) {
		.status-label-top {
			font-size: 26px;
		}
		.status-label-bottom {
			font-size: 20px;
		}
	}
}

.unitedStatesAtAGlance {
	@include mobile-max {
		display: none !important;
	}
}

.transmission-label {
	margin-left: 1.5em;
	@include mobile-max {
		display: none !important;
	}
}
.transmission-label2 {
	display: none !important;
	font-weight: normal;
	@include mobile-max {
		display: block !important;
		margin-right: 0.5em;
	}
}
.transmissionBar {
	@include mobile-max {
		margin-left: 1.5em;
	}
}

.grow-1 {
	flex-grow: 1;
}

.grow-2 {
	flex-grow: 2;
}
.grow-3 {
	flex-grow: 3;
}

.flex-width {
	flex-basis: 32.999%;
}

.status-label {
	color: #555555;
	font-size: 14px;
	text-align: left;

	&-top {
		min-width: 24px;
		font-weight: bold;

		@media screen and (max-width: 1024px) {
			display: inline;
		}
		@media screen and (max-width: 576px) {
			font-size: 13px;
		}
	}

	&-bottom {
		@media screen and (max-width: 1024px) {
			display: inline;
		}
		@media screen and (max-width: 576px) {
			font-size: 13px;
		}
	}

	&-total {
		font-size: 28px;
		margin-left: 1rem;

		@media screen and (max-width: 1024px) {
			margin-left: 0;
		}

		@media screen and (max-width: 576px) {
			font-size: 20px;
		}
	}
	&-total:hover {
		color: $teal;
	}

	&-arrow {
		color: #b75959;
		font-size: 30px;
		margin-left: 1rem;

		@media screen and (max-width: 1024px) {
			margin-left: 0;
		}
	}
	&-arrow:hover {
		color: #883b3b;
	}
	@media screen and (max-width: 1024px) {
		text-align: center;
	}
}

.status-number {
	@media screen and (max-width: 1024px) {
		margin-top: 10px;
	}
}

.status-arrow-label {
	min-width: 74px;
	@media screen and (max-width: 1024px) {
		text-align: center;
	}
}

.graphStatBar {
	margin-left: 0.4vw;
	@media screen and (max-width: 576px) {
		margin-left: 0;
	}
}

/* for V2 Landing Page Status Bar graphs */
.graphStatBar2 {
	padding-bottom: 0 !important;
	margin-left: 0.4vw;
	margin-bottom: 20px !important; /* this is being ignored */
	width: 180px; // ignored - width set in landingStatusBar
	min-height: 100px;
}

@media screen and (max-width: $large-screen-min-width-2) {
	margin-left: 0;
	// ignored here bc mobile width set in landingStatusBar
	// where it draws the graphs
	// width: 333px; // setting this here does not work
}

.totalNumber {
	margin-left: 4vw;
	font-size: 15px;
	@media screen and (max-width: 576px) {
		font-size: 12px;
	}
}
