/* new table layout */
.table-toggle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	line-height: 38px;
	cursor: pointer;
	color: #007c91;
	border-top: 3px solid #007c91;
	border-bottom: 1px solid #007c91;

	&.closed {
		color: black;
		border-top: 1px solid #007c91;
		border-bottom: 1px solid #007c91;
	}

	&:hover {
		background-color: #fbfbfb;
		color: #007c91;
	}
}

.table-toggle-icon {
	margin-right: 5px;
}

.table-title {
	margin: 0 0 0 5px !important;
	font-size: 1rem;
	align-self: center;
}

.data-table {
	width: 100%;
	min-height: 100px;

	& table {
		width: 100%;
	}

	&.closed {
		display: none;
		height: 0;
	}
}

.table-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@include small-screen-only-breakpoint {
		flex-direction: column;
	}
}

.data-download-btn {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

.expanded-data-table {
	width: 100%;
	overflow-x: auto;
	background-color: white;
	padding: 5px;

	.dataTables_filter {
		margin-bottom: 3px;
	}

	table.table-striped {
		thead > tr {
			vertical-align: bottom;
			background-color: #dedede;
		}

		tbody tr {
			border-bottom-color: #bcbdbd;

			.odd {
				background-color: #fcfcfc !important;
				--bs-table-accent-bg: none;
			}
		}
	}
}

.scrolling-table-container {
	overflow-x: auto;
}
