/* new table layout */
.table-toggle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	line-height: 38px;
	cursor: pointer;
	color: #007c91;
	border-top: 3px solid #007c91;
	border-bottom: 1px solid #007c91;

	&.closed {
		color: black;
		border-top: 1px solid #007c91;
		border-bottom: 1px solid #007c91;
	}

	&:hover {
		background-color: #fbfbfb;
		color: #007c91;
	}
}

.table-toggle-icon {
	margin-right: 5px;
}

.table-title {
	margin: 0 0 0 5px !important;
	font-size: 1rem;
	align-self: center;
}

.data-table {
	width: 100%;
	min-height: 100px;

	& table {
		width: 100%;
	}

	&.closed {
		display: none;
		height: 0;
	}
}

.table-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@include small-screen-only-breakpoint {
		flex-direction: column;
	}
}

.data-download-btn {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

table.expanded-data-table {
	width: 100%;
	// margin-left: 2%;
	// margin-right: 2%;
	overflow-x: scroll;

	th,
	td {
		padding-left: 3px;
		padding-right: 3px;

		&:first-child {
			padding-left: 5px;
		}
	}

	thead > tr {
		vertical-align: bottom;
	}

	tbody tr:nth-child(odd) {
		background-color: #ffffff;
	}
	tbody tr:nth-child(even) {
		background-color: #f2f2f2;
	}
}

.scrolling-table-container {
	overflow-x: auto;
}
