#content-container {
	height: 100%;
	padding: 0;
	// margin-right: 1em;

	@media screen and (max-width: $large-screen-min-width-2) {
		margin-right: 0;
	}
}

.iframe-container {
	overflow: hidden;
	padding-top: 56.25% !important;
	position: relative;

	/* aspect ratio */
	&-4x3 {
		padding-top: 75%;
	}

	iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

#countyCasesIframe {
	height: 120vh;
}

#main-widget-container {
	padding-top: 0;
	height: 100%;
	display: flex;

	@include mobile-max {
		display: block;
	}
}

#wiget-container-left,
#widget-container-middle,
#wiget-container-right {
	display: flex;
	flex-direction: column;

	@include mobile-max {
		display: block;
		padding: unset;
	}
}

.widgetlegendTxt {
	width: 150px;
	order: 2;
	margin-bottom: 10px;
}

.layout {
	&_left {
		&_A {
			flex: 1 1 20%;
		}

		&_B {
			flex: 1 1 15%;
		}
	}

	&_middle {
		&_A {
			flex: 1 1 100%;
		}

		&_B {
			flex: 1 1 55%;
		}
	}

	&_right {
		&_A {
			flex: 1 1 20%;
		}

		&_B {
			flex: 1 1 25%;
		}
	}
}

.maximized {
	font-size: 4em;
}

.btnMaximize {
	background: transparent;
	border: none;

	&:hover {
		cursor: pointer;
	}

	@include mobile-max {
		display: none;
	}
}

#widget {
	padding: 5px;

	&-container {
		&-left {
			.widget:nth-child(3) {
				flex: 1 0 0%;
				padding: 0;
			}
			.widget:nth-child(4) {
				flex: 1 0 0% !important;
				padding: 0 !important;
			}
		}

		&-middle .widget:nth-child(1) {
			flex: 1 0 0%;
		}

		&-right {
			.widget:nth-child(3) {
				flex: 1 0 0%;
				padding: 0;
			}
		}
	}

	&_4 {
		@include ie-media-query {
			overflow: auto;
		}
	}

	&_5 {
		flex: 1 0 0%;
		padding: 0;
		min-height: 150px;
	}

	button {
		display: flex;
		flex-direction: column;
	}

	@include mobile-max {
		flex: 1 0 auto;
	}
}

.hideWidget {
	display: none;
}

.wMaxButtonHidden {
	visibility: hidden;
}

#maincontent {
	@include ie-mobile-media-query {
		height: auto;
	}
}

.esri-view-root {
	@include mobile-max {
		height: 500px;
	}
}
