@import "media_queries.scss";

@mixin color-rectangle($color) {
	width: 260px;
	height: 190px;
	background: $color;
	padding: 0px;

	&::before {
		content: "";
		display: block;
		padding-bottom: -3 0px;
	}
}

@mixin color-chevron($color) {
	position: relative;
	//border: solid red 2px;
	top: 18px;
	left: 5px;
	right: 50px; // this has no effect
	text-align: center;
	padding: 12px;
	margin-bottom: 6px;
	height: 100px;
	width: 190px; // this is height for right rotated
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	&::before {
		content: "";
		position: absolute;
		box-shadow: 0px 2px 0px 0px #e5e5e5;
		top: 100px; // moves it right or left
		left: 0;
		height: 100%;
		width: 51%;
		background: $color;
		-webkit-transform: skew(0deg, 12deg);
		-moz-transform: skew(0deg, 12deg);
		-ms-transform: skew(0deg, 12deg);
		-o-transform: skew(0deg, 12deg);
		transform: skew(0deg, 12deg);
	}

	&::after {
		content: "";
		position: absolute;
		box-shadow: 0px 2px 0px 0px #e5e5e5;
		top: 100px; /// this actually moves it right due to transform
		height: 100%;
		width: 50%;
		background: $color;
		-webkit-transform: skew(0deg, -12deg);
		-moz-transform: skew(0deg, -12deg);
		-ms-transform: skew(0deg, -12deg);
		-o-transform: skew(0deg, -12deg);
		transform: skew(0deg, -12deg);
	}
}

.nowrap {
	white-space: nowrap;
}

.nav-item.center {
	width: 18vw;
	text-align: center;
}

.rectangle-yellow {
	@include color-rectangle(#ffd200);
}

.rectangle-white {
	@include color-rectangle(#ffffff);
	//border: solid 1px red;
}

.rectangle-green {
	@include color-rectangle(#006858);
}

.chevron-green {
	@include color-chevron(#006858);
	//padding-top: -25px;
	margin-top: -92px;
}

.chevron-yellow {
	@include color-chevron(#ffd200);
	//padding-top: -25px;
	margin-top: -92px;
	//margin-right: -25px;
}

.chevron-white {
	@include color-chevron(#ffffff);
	//padding-top: -25px;
	margin-top: -91px;
}

.chart-title {
	margin-top: 70px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#chart-subtitle {
	margin-top: 5px;
	padding-bottom: 20px;
	font-size: 18px;
	text-align: center;
}

.select-label {
	font-size: 18px;
}

.nav-link .active {
	border-top-style: solid;
	border-top-color: blue;
}

.source-text {
	padding-bottom: 15px;

	a {
		cursor: pointer;

		&:hover {
			text-decoration: underline !important;
		}
	}
}

.footnote-text {
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-align: left;
	margin-bottom: 10px;
}
